In [1]:
import os
import re
import datetime
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
pd.set_option('display.max_row', 1000)
%matplotlib inline
matplotlib.rcParams['savefig.dpi'] = 1.3 * matplotlib.rcParams['savefig.dpi']

In [2]:
pwd

u'/Users/Jonathan/santander'

In [3]:
# Read data
train = pd.read_csv('data/train.csv').dropna(axis=0, how='all').reset_index(drop = True)
test = pd.read_csv('data/test.csv').dropna(axis=0, how='all').reset_index(drop = True)

In [4]:
print train.shape
train.head()

(76020, 371)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,39205.170000,0
1,3,2,34,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,49278.030000,0
2,4,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,67333.770000,0
3,8,2,37,0,195,195,0,0,0,0,...,0,0,0,0,0,0,0,0,64007.970000,0
4,10,2,39,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,117310.979016,0

In [5]:
train.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,117235.809430,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,182664.598503,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5163.750000,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67870.612500,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,106409.160000,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,118756.252500,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,22034738.760000,1.000000

In [6]:
# print column names with NaNs
[x for x in train if any(train[x].isnull())]

[]

### Fitting a basic KNN model

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import KFold, cross_val_score, train_test_split
from sklearn import metrics, base, grid_search, pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_union

In [9]:
import warnings
warnings.filterwarnings('ignore')

k = 5

X = train.drop(['TARGET'], axis=1)
y = train[['TARGET']]
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=5)

knn = KNeighborsClassifier(n_neighbors=k)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

metrics.roc_auc_score(y_pred, y_test)

0.548156924697209

In [ ]:
import warnings
warnings.filterwarnings('ignore')

train = train.iloc[:,-20:]

X = train.drop(['TARGET'], axis=1)
y = train['TARGET']

k_range = range(1,31)
k_scores = []
for k in k_range:
    t0=tm.time()
    knn = KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn,X,y,cv=4,scoring='roc_auc')
    print k, scores, scores.mean()
    k_scores.append(scores.mean())
    print tm.time() - t0
print k_scores

In [ ]:
from sklearn.grid_search import GridSearchCV

t0=tm.time()
k_range = range(1,31)
param_grid = dict(n_neighbors=k_range)

#train = train.iloc[:,-20:]

X = train.drop(['TARGET'], axis=1)
y = train['TARGET']

knn = KNeighborsClassifier()
grid = GridSearchCV(knn, param_grid, cv=10, scoring='roc_auc')
print tm.time() - t0
grid.fit(X,y)
grid.grid_scores_

# examine the best model
print grid.best_score_
print grid.best_params_
print grid.best_estimator_

In [11]:
predictions = knn.predict(test)

In [17]:
submission = pd.DataFrame({"ID":test.ID, "TARGET":predictions})
submission.to_csv("kaggle.csv", index=False)